@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

body:has(.mobile-nav--active) .header .nav {
  display: none;
}
body:has(.mobile-nav--active) .header .burger-button {
  display: block;
}

.hide {
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

.link-active {
  color: #fa4a0c;
  pointer-events: none;
  background-color: transparent;
}

.header {
  height: 112px;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
@media (min-width: 992px) {
  .header {
    height: 150px;
    padding: 0 2.5rem 0 4.375rem;
  }
}
.header:has(.burger-button--active) {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 20;
}
.header .logo-img {
  width: 104px;
}
@media (min-width: 992px) {
  .header .logo-img {
    width: 206px;
  }
}
.header .nav {
  display: none;
}
@media (min-width: 768px) {
  .header .nav {
    display: block;
  }
}
.header .nav__list {
  display: flex;
  gap: 72px;
}
@media (min-width: 992px) {
  .header .nav__list {
    gap: 94px;
  }
}
.header .nav__link {
  display: block;
  padding: 1rem;
  font-weight: 500;
  transition: transform 0.3s;
}
.header .nav__link:hover {
  text-decoration: underline;
  text-underline-position: under;
  transform: scale(1.2);
}

.main .how-it-works {
  overflow: hidden;
}
.main .how-it-works__title {
  color: initial;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.25rem 0.1px;
  letter-spacing: normal;
  padding-bottom: 2.875rem;
  border-bottom: 3px solid #e4e4e4;
  margin-bottom: 4.0625rem;
}
@media (min-width: 768px) {
  .main .how-it-works__title {
    max-width: 884px;
    margin: 0 auto 1rem;
    border-top: 3px solid #e4e4e4;
    border-bottom: none;
    padding: 4.0625rem 0 0;
    font-family: "Poppins", sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
  }
}
.main .how-it-works .action {
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 2.375rem;
  margin-bottom: 4.0625rem;
}
@media (min-width: 768px) {
  .main .how-it-works .action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main .how-it-works .action:not(:last-child) {
    margin-bottom: 9.375rem;
  }
  .main .how-it-works .action:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.main .how-it-works .action__content {
  text-align: center;
}
@media (min-width: 768px) {
  .main .how-it-works .action__content {
    flex-basis: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.main .how-it-works .action__title {
  color: #fa4a0c;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: inherit;
  line-height: 2.25rem;
  letter-spacing: 0.1px;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .main .how-it-works .action__title {
    margin-bottom: 1.0625rem;
  }
}
.main .how-it-works .action__info {
  color: #252b42;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: inherit;
  line-height: 3.5625rem;
  letter-spacing: 0.2px;
  margin-bottom: 3.125rem;
}
@media (min-width: 768px) {
  .main .how-it-works .action__info {
    margin-bottom: 1.6875rem;
  }
}
.main .how-it-works .action__hint {
  max-width: 257px;
  margin-inline: auto;
  color: #737373;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: inherit;
  line-height: 2.375rem;
  letter-spacing: 0.2px;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .main .how-it-works .action__hint {
    max-width: none;
    margin-bottom: 0;
  }
}
.main .how-it-works .action__img {
  display: block;
  margin: auto;
  box-shadow: 50px 30px 150px 0 rgba(46, 4, 4, 0.15);
}
@media (min-width: 768px) {
  .main .how-it-works .action__img {
    margin-inline: 2.5rem;
  }
}
.main .download {
  text-align: center;
  padding: 7.5rem 2.5rem 7rem;
  background-color: #252b42;
}
@media (min-width: 768px) {
  .main .download {
    padding: 8.75rem 2.5rem 8.125rem;
    background-color: transparent;
    background-image: url(../assets/images/download-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.main .download__title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: inherit;
  line-height: 3.5625rem 0.2px;
  letter-spacing: normal;
  margin-bottom: 1.25rem;
}
.main .download__text {
  color: #bdbdbd;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: inherit;
  line-height: 2.375rem;
  letter-spacing: 0.2px;
  margin-bottom: 3.75rem;
}
.main .download__text .full-text {
  display: none;
}
@media (min-width: 768px) {
  .main .download__text {
    color: #fff;
  }
  .main .download__text .full-text {
    display: inline;
  }
  .main .download__text .short-text {
    display: none;
  }
}
.main .download__buttons {
  max-width: 340px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.main .download__btn {
  padding: 1rem 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.75rem;
  letter-spacing: 0.2px;
  border-radius: 10px;
}
.main .download__btn--buy {
  flex-basis: 40%;
  background-color: #fa4a0c;
  border: 1px solid transparent;
  transition: background-color 0.3s;
}
.main .download__btn--buy:hover {
  background-color: #000530;
}
.main .download__btn--try {
  flex-basis: 54%;
  background-color: transparent;
  border: 1px solid #fff;
}
.main .download__btn--try:hover {
  background-color: #000530;
  border: 1px solid transparent;
}

.footer {
  font-family: "Roboto", sans-serif;
  height: 200px;
}
.footer__content {
  max-width: 1218px;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__content {
    padding: 0 2.8125rem 0 4.375rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .logo-img {
  display: none;
}
@media (min-width: 768px) {
  .footer .logo-img {
    display: inline-block;
  }
}
.footer__links {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .footer__links {
    margin-bottom: 0;
  }
}
.footer__link {
  transition: transform 0.3s;
}
.footer__link:hover {
  transform: scale(1.2);
}
.footer__link img {
  vertical-align: bottom;
}
.footer__text {
  color: #5c5c5c;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: inherit;
  line-height: 1.125rem;
  letter-spacing: 0.1px;
}
.footer__text .full-text {
  display: none;
}
@media (min-width: 768px) {
  .footer__text .full-text {
    display: block;
  }
  .footer__text .short-text {
    display: none;
  }
}

.burger-button {
  position: relative;
  display: block;
  width: 26px;
  height: 22px;
  z-index: 20;
  cursor: pointer;
}
@media (min-width: 768px) {
  .burger-button {
    display: none;
  }
}
.burger-button .burger,
.burger-button .burger::before,
.burger-button .burger::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #aaa;
  border-radius: 10px;
  transition: transform 0.3s, opacity 0.3s;
}
.burger-button .burger::before {
  transform: translateY(9px);
}
.burger-button .burger::after {
  transform: translateY(18px);
}
.burger-button:hover {
  transform: scale(1.1);
}

.burger-button--active .burger {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.burger-button--active .burger::before {
  opacity: 0;
}
.burger-button--active .burger::after {
  transform: rotate(90deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
  z-index: 10;
  background-color: #434343;
  transform: translateX(100%);
  transition: transform 0.3s;
}
.mobile-nav__link {
  width: 50%;
  padding: 0.75rem 1rem;
  margin-top: 1.25rem;
  color: #252b42;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: inherit;
  letter-spacing: normal;
  text-decoration: none;
  background-color: #efefef;
  border-radius: 10px;
  transition: color 0.2s, background-color 0.2s;
}
.mobile-nav__link:hover {
  color: #fff;
  background-color: #fa4a0c;
}

.mobile-nav--active {
  transform: translateX(0);
}
.mobile-nav--active .link-active {
  color: #fff;
  background-color: #9d2900;
}

@media (min-width: 768px) {
  .hero {
    background-image: url(../assets/images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: auto 55%;
  }
}
@media (min-width: 1440px) {
  .hero {
    background-size: 100% 55%;
  }
}
.hero__top {
  padding: 3.125rem 0.625rem 1.375rem;
  background-color: #fafafa;
}
@media (min-width: 768px) {
  .hero__top {
    background-color: transparent;
  }
}
.hero__subtitle {
  color: #737373;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.1px;
  margin-bottom: 1.0625rem;
}
@media (min-width: 768px) {
  .hero__subtitle {
    color: #f6f6f6;
    line-height: 2.25rem; /* 150% */
  }
}
@media (min-width: 992px) {
  .hero__subtitle {
    margin-bottom: 0;
  }
}
.hero__title {
  max-width: 560px;
  margin: auto;
  color: #252b42;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.65625rem;
  letter-spacing: 0.2px;
  margin-bottom: 1.6875rem;
}
@media (min-width: 768px) {
  .hero__title {
    max-width: 600px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .hero__title {
    max-width: 960px;
    font-size: 3.625rem;
    line-height: 5rem; /* 137.931% */
  }
}
.hero__description {
  padding: 1.53125rem;
  color: #737373;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.375rem;
  letter-spacing: 0.2px;
  margin-bottom: 3.125rem;
}
@media (min-width: 768px) {
  .hero__description {
    color: #f6f6f6;
    margin-bottom: 1.875rem;
  }
}
.hero .download-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.0625rem;
}
@media (min-width: 992px) {
  .hero .download-btn {
    flex-direction: row;
    justify-content: center;
  }
}
.hero .download-btn__btn {
  width: 236px;
  padding: 1rem 0;
  color: initial;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.25rem;
  letter-spacing: 0.1px;
  border-radius: 30px;
  transition: transform 0.3s;
}
.hero .download-btn__btn--playstore {
  color: #fff;
  background-color: #fa4a0c;
  box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid #fff;
}
@media (min-width: 768px) {
  .hero .download-btn__btn--playstore {
    border: none;
  }
}
.hero .download-btn__btn--playstore:hover {
  background: linear-gradient(90deg, rgb(0, 93, 167) 0%, rgb(0, 142, 40) 40%, rgb(242, 89, 6) 70%, rgb(255, 239, 51) 100%);
  transform: scale(1.02);
}
.hero .download-btn__btn--app-store {
  color: #fa4a0c;
  background-color: transparent;
  border: 1px solid #fa4a0c;
}
@media (min-width: 768px) {
  .hero .download-btn__btn--app-store {
    color: #fff;
    border: 1px solid #fff;
  }
}
.hero .download-btn__btn--app-store:hover {
  color: #fff;
  background: linear-gradient(0deg, rgb(30, 187, 175) 0%, rgb(0, 37, 182) 45%, rgb(0, 37, 182) 55%, rgb(84, 156, 255) 100%);
  border: 1px solid #fff;
  transform: scale(1.02);
}
.hero__bottom {
  height: 120vw;
  background: url(../assets/images/food-app-img-1.png) left top/80%, url(../assets/images/food-app-img-2.png) right/50%;
  background-repeat: no-repeat;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .hero__bottom {
    width: 540px;
    height: 640px;
    margin: auto;
  }
}
