@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.burger-button {
  position: relative;
  display: block;
  width: v.$burger-btn-width;
  height: v.$burger-btn-height;
  cursor: pointer;

  .burger,
  .burger::before,
  .burger::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: v.$burger-line-height;
    background-color: #aaa;
    border-radius: 10px;
    transition: transform 0.3s;
  }

  .burger::before {
    margin-top: v.$burger-line-gap;
  }

  .burger::after {
    margin-top: v.$burger-line-gap * 2;
  }

  &:hover {
    transform: scale(1.1);
  }

  @include m.tablet {
    display: none;
  }
}

.burger-button--active {
  width: v.$burger-btn-width + 4px;
  height: v.$burger-btn-height + 6px;

  .burger,
  .burger::before,
  .burger::after {
    margin-top: 0;
  }

  .burger {
    top: 40%;
    transform: rotate(-45deg);
  }

  .burger::before {
    opacity: 0;
  }

  .burger::after {
    transform: rotate(90deg);
  }
}
