@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.burger-button {
  position: relative;
  display: block;
  width: v.$burger-btn-width;
  height: v.$burger-btn-height;
  cursor: pointer;

  .burger,
  .burger::before,
  .burger::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: v.$burger-line-height;
    background-color: #aaa;
    border-radius: 10px;
    transition: transform 0.3s, opacity 0.3s;
  }

  .burger::before {
    transform: translateY(v.$burger-line-gap);
  }

  .burger::after {
    transform: translateY(v.$burger-line-gap * 2);
  }

  &:hover {
    transform: scale(1.1);
  }

  @include m.tablet {
    display: none;
  }
}

.burger-button--active {

  .burger {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .burger::before {
    opacity: 0;
  }

  .burger::after {
    transform: rotate(90deg);
  }
}
