@use "../abstracts/" as v;
@use "../utils" as u;

.hero {

  @include u.tablet {
    background-image: url(../assets/images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: auto 55%;
  }

  @media (min-width: 1440px) {
    background-size: 100% 55%;
  }

  &__top {
    padding: u.toRem(50px, 10px, 22px);
    background-color: #fafafa;

    @include u.tablet {
      background-color: transparent;
    }
  }

  &__subtitle {
    @include u.text-styles(v.$second-text-color, 1rem, 700, center, u.toRem(24px), 0.1px);
    margin-bottom: u.toRem(17px);

    @include u.tablet {
      color: #f6f6f6;
      line-height: u.toRem(36px); /* 150% */
    }

    @include u.desktop {
      margin-bottom: 0;
    }
  }

  &__title {
    max-width: v.$hero-title-mw;
    margin: auto;
    @include u.text-styles(v.$main-text-color, u.toRem(36px), 700, center, u.toRem(42.5px), 0.2px);
    margin-bottom: u.toRem(27px);
    
    @include u.tablet {
      max-width: v.$hero-title-mw-tab;
      font-family: v.$second-font;
      color: #fff;
      margin-bottom: 0;
    }

    @include u.desktop {
      max-width: v.$hero-title-mw-desk;
      font-size: u.toRem(58px);
      line-height: u.toRem(80px); /* 137.931% */
    }
  }

  &__description {
    padding: u.toRem(24.5px);
    @include u.text-styles(v.$second-text-color, u.toRem(24px), 500, center, u.toRem(38px), 0.2px);
    margin-bottom: u.toRem(50px);

    @include u.tablet {
      color: #f6f6f6;
      margin-bottom: u.toRem(30px);
    }
  }

  .download-btn {
    @include u.flex(column, flex-start, center);
    gap: u.toRem(17px);

    @include u.desktop {
      flex-direction: row;
      justify-content: center ;
    }

    &__btn {
      width: v.$hero-download-btn-w;
      padding: u.toRem(16px) 0;
      @include u.text-styles(initial, u.toRem(24px), 700, center, u.toRem(36px), 0.1px);
      border-radius: 30px;
      transition: transform v.$default-time-duration;
    }

    &__btn--playstore {
      color: #fff;
      background-color: v.$main-ui-color;
      box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.07);
      border: 1px solid #fff;

      @include u.tablet {
        border: none;
      }

      &:hover {
        background: linear-gradient(90deg, rgba(0,93,167,1) 0%,
                        rgba(0,142,40,1) 40%,
                        rgba(242,89,6,1) 70%,
                        rgba(255,239,51,1) 100%);
        transform: scale(1.02);
      }
    }

    &__btn--app-store {
      color: v.$main-ui-color;
      background-color: transparent;
      border: 1px solid v.$main-ui-color;

      @include u.tablet {
        color: #fff;
        border: 1px solid #fff;
      }

      &:hover {
        color: #fff;
        background: linear-gradient(0deg, rgba(30,187,175,1) 0%,
                  rgba(0,37,182,1) 45%,
                  rgba(0,37,182,1) 55%,
                  rgba(84,156,255,1) 100%);
        border: 1px solid #fff;
        transform: scale(1.02);

      }
    }
  }

  &__bottom {
    height: v.$hero-bottom-h;
    background: url(../assets/images/food-app-img-1.png) left top / 80%,
                url(../assets/images/food-app-img-2.png) right / 50%;
    background-repeat: no-repeat;
    margin-bottom: u.toRem(40px);

    @include u.tablet {
      width: v.$hero-bottom-w-tab;
      height: v.$hero-bottom-h-tab;
      margin: auto;
    }
  }
}