@use "../abstracts/" as v;
@use "../utils/" as u;

.footer {
  font-family: v.$footer-font;
  height: v.$footer-h;

  &__content {
    max-width: v.$footer-content-mw;
    height: 100%;
    margin-inline: auto;
    @include u.flex(column, center, center);

    @include u.tablet {
      padding: 0 u.toRem(45px) 0 u.toRem(70px);
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .logo-img {
    display: none;

    @include u.tablet {
      display: inline-block;
    }
  }

  &__links {
    display: flex;
    gap: u.toRem(24px);
    margin-bottom: u.toRem(8px);

    @include u.tablet {
      margin-bottom: 0;
    }
  }

  &__link {
    transition: transform v.$default-time-duration;

    &:hover {
      transform: scale(1.2);
    }

    img {
      vertical-align: bottom;
    }
  }

  &__text {
    @include u.text-styles(v.$footer-text-color, u.toRem(12px), 700, inherit, u.toRem(18px), 0.1px);

    .full-text {
      display: none;
    }

    @include u.tablet {
      .full-text {
        display: block;
      }

      .short-text {
        display: none;
      }
    }
  }
}
