@use "../utils/" as u;
@use "../abstracts/" as v;

.header {
  height: v.$header-h-mob;
  padding: 0 u.toRem(16px);
  @include u.flex(row, space-between, center);
  background-color: #fff;

  @include u.desktop {
    height: v.$header-h-desk;
    padding: 0 u.toRem(40px) 0 u.toRem(70px);
  }

  &:has(.burger-button--active) {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: v.$menu-bg-color;
    z-index: 20;
  }

  .logo-img {
    position: relative;
    width: v.$logo-width-mob;
    z-index: 20;

    @include u.desktop {
      width: v.$logo-width-desk;
    }
  }

  .nav {
    display: none;

    @include u.tablet {
      display: block;
    }

    &__list {
      display: flex;
      gap: v.$nav-items-gap-tab;

      @include u.desktop {
        gap: v.$nav-items-gap-desk;
      }
    }
    
    &__link {
      display: block;
      padding: u.toRem(16px);
      font-weight: 500;
      transition: transform v.$default-time-duration;

      &:hover {
        text-decoration: underline;
        text-underline-position: under;
        transform: scale(1.2);
      }
    }
  }
}
