@use "../utils/" as u;
@use "../abstracts/" as v;

.header {
  height: v.$header-height-mob;
  padding: 0 16px;
  @include u.flex(row, space-between, center);
  background-color: #fff;

  @include u.desktop {
    height: v.$header-height-desk;
    padding: 0 40px 0 70px;
  }

  .logo-img {
    position: relative;
    width: 104px;
    z-index: 20;

    @include u.desktop {
      width: 206px;
    }
  }

  .nav {
    display: none;

    @include u.tablet {
      display: block;
    }

    &__list {
      display: flex;
      gap: 72px;

      @include u.desktop {
        gap: 94px;
      }
    }
    
    &__link {
      display: block;
      padding: 16px;
      font-weight: 500;
      transition: transform 0.3s;

      &:hover {
        text-decoration: underline;
        text-underline-position: under;
        transform: scale(1.2);
      }
    }
  }
}
