@use "../abstracts/mixins" as m;

.header {
  padding: 17px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  @include m.desktop {
    padding: 26px 40px;
  }

  .logo-img {
    width: 104px;
  }

  .nav {
    display: none;

    @include m.tablet {
      display: block;
    }

    &__list {
      display: flex;
      gap: 94px;
    }
  
    &__item {}
  
    &__link {
      display: block;
      padding: 10px;
      font-weight: 500;
    }
  }
}
