@use "../utils/" as u;
@use "../abstracts/" as v;

.main {

  .how-it-works {
    overflow: hidden;

    &__title {
      @include u.text-styles(initial, u.toRem(24px), 600, center, u.toRem(36px) 0.1px);
      padding-bottom: u.toRem(46px);
      border-bottom: 3px solid #e4e4e4;
      margin-bottom: u.toRem(65px);

      @include u.tablet {
        max-width: v.$how-it-works-mw;
        margin: 0 auto u.toRem(16px);
        border-top: 3px solid #e4e4e4;
        border-bottom: none;
        padding: u.toRem(65px) 0 0;
        font-family: v.$second-font;
        font-size: u.toRem(44px);
        font-weight: 600;
      }
    }

    .action {
      max-width: v.$action-mw;
      margin-inline: auto;
      padding-inline: u.toRem(38px);
      margin-bottom: u.toRem(65px);

      @include u.tablet {
        @include u.flex(row, space-between, center);

        &:not(:last-child) {
          margin-bottom: u.toRem(150px);
        }

        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }

      &__content {
        text-align: center;

        @include u.tablet {
          flex-basis: 50%;
          text-align: left;
          @include u.flex(column, center);
        }
      }

      &__title {
        @include u.text-styles(v.$main-ui-color, u.toRem(24px), 700, inherit, u.toRem(36px), 0.1px);
        margin-bottom: u.toRem(40px);

        @include u.tablet {
          margin-bottom: u.toRem(17px);
        }
      }

      &__info {
        @include u.text-styles(v.$main-text-color, u.toRem(40px), 700, inherit, u.toRem(57px), 0.2px);
        margin-bottom: u.toRem(50px);

        @include u.tablet {
          margin-bottom: u.toRem(27px);
        }
      }

      &__hint {
        max-width: v.$action-hint-mw;
        margin-inline: auto;
        @include u.text-styles(v.$second-text-color, u.toRem(24px), 500, inherit, u.toRem(38px), 0.2px);
        margin-bottom: u.toRem(40px);

        @include u.tablet {
          max-width: none;
          margin-bottom: 0;
        }
      }

      &__img {
        display: block;
        margin: auto;
        box-shadow: 50px 30px 150px 0 rgba(46, 4, 4, 0.15);

        @include u.tablet {
          margin-inline: u.toRem(40px);
        }
      }
    }
  }

  .download {
    text-align: center;
    padding: u.toRem(120px, 40px, 112px);
    background-color: v.$main-text-color;

    @include u.tablet {
      padding: u.toRem(140px, 40px, 130px);
      background-color: transparent;
      background-image: url(../assets/images/download-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__title {
      @include u.text-styles(#fff, u.toRem(40px), 700, inherit, u.toRem(57px) 0.2px);
      margin-bottom: u.toRem(20px);
    }

    &__text {
      @include u.text-styles(#bdbdbd, u.toRem(24px), 500, inherit, u.toRem(38px), 0.2px);
      margin-bottom: u.toRem(60px);

      .full-text {
        display: none;
      }

      @include u.tablet {
        color: #fff;

        .full-text {
          display: inline;
        }
  
        .short-text {
          display: none;
        }
      }
    }

    &__buttons {
      max-width: v.$download-btns-mw;
      margin: auto;
      @include u.flex(row, space-between);
    }

    &__btn {
      padding: u.toRem(16px) 0;
      @include u.text-styles(#fff, u.toRem(16px), 700, center, u.toRem(28px), 0.2px);
      border-radius: 10px;

      &--buy {
        flex-basis: 40%;
        background-color: v.$main-ui-color;
        border: 1px solid transparent;
        transition: background-color v.$default-time-duration;

        &:hover {
          background-color: #000530;
        }
      }

      &--try {
        flex-basis: 54%;
        background-color: transparent;
        border: 1px solid #fff;

        &:hover {
          background-color: #000530;
          border: 1px solid transparent
        }
      }
    }
  }
}