@use "../utils/" as u;
@use "../abstracts/" as v;

.main {

  .how-it-works {
    &__title {
      @include u.text-styles(initial, 24px, 600, center, 36px, 0.1px);
      padding-bottom: 46px;
      border-bottom: 3px solid #e4e4e4;
      margin-bottom: 65px;

      @include u.tablet {
        max-width: 884px;
        margin: 0 auto 120px;
        border-top: 3px solid #e4e4e4;
        border-bottom: none;
        padding: 65px 0 0;
        font-family: v.$second-font;
        font-size: 44px;
        font-weight: 600;
      }
    }

    .action {
      max-width: 1140px;
      margin-inline: auto;
      padding-inline: 38px;
      margin-bottom: 65px;

      @include u.tablet {
        @include u.flex(row, space-between, center);

        &:not(:last-child) {
          margin-bottom: 150px;
        }

        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }

      &__content {
        text-align: center;

        @include u.tablet {
          flex-basis: 50%;
          text-align: left;
          @include u.flex(column, center);
        }
      }

      &__title {
        @include u.text-styles(v.$main-ui-color, 24px, 700, inherit, 36px, 0.1px);
        margin-bottom: 40px;

        @include u.tablet {
          margin-bottom: 17px;
        }
      }

      &__info {
        @include u.text-styles(v.$main-text-color, 40px, 700, inherit, 57px, 0.2px);
        margin-bottom: 50px;

        @include u.tablet {
          margin-bottom: 27px;
        }
      }

      &__hint {
        max-width: 257px;
        margin-inline: auto;
        @include u.text-styles(v.$second-text-color, 24px, 500, inherit, 38px, 0.2px);
        margin-bottom: 40px;

        @include u.tablet {
          max-width: none;
          margin-bottom: 0;
        }
      }

      &__img {
        display: block;
        margin: auto;
        box-shadow: 50px 30px 150px 0 rgba(46, 4, 4, 0.15);

        @include u.tablet {
          margin-inline: 40px;
        }
      }
    }
  }

  .download {
    text-align: center;
    padding: 120px 40px 112px;
    background-color: v.$main-text-color;

    @include u.tablet {
      padding: 140px 40px 130px;
      background-color: transparent;
      background-image: url(../assets/images/download-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__title {
      @include u.text-styles(#fff, 40px, 700, inherit, 57px, 0.2px);
      margin-bottom: 20px;
    }

    &__text {
      @include u.text-styles(#bdbdbd, 24px, 500, inherit, 38px, 0.2px);
      margin-bottom: 60px;

      .full-text {
        display: none;
      }

      @include u.tablet {
        color: #fff;

        .full-text {
          display: inline;
        }
  
        .short-text {
          display: none;
        }
      }
    }

    &__buttons {
      max-width: 340px;
      margin: auto;
      @include u.flex(row, space-between);
    }

    &__btn {
      padding: 16px 0;
      @include u.text-styles(#fff, 16px, 700, center, 28px, 0.2px);
      border-radius: 10px;

      &--buy {
        flex-basis: 40%;
        background-color: v.$main-ui-color;
        border: 1px solid transparent;
        transition: background-color 0.3s;

        &:hover {
          background-color: #000530;
        }
      }

      &--try {
        flex-basis: 54%;
        background-color: transparent;
        border: 1px solid #fff;

        &:hover {
          background-color: #000530;
          border: 1px solid transparent
        }
      }
    }
  }
}