@use "../abstracts/mixins" as m;
@use "../abstracts/fonts" as f;

.main {

  .how-it-works {
    &__title {
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px; /* 150% */
      letter-spacing: 0.1px;
      padding-bottom: 46px;
      border-bottom: 3px solid #e4e4e4;
      margin-bottom: 65px;

      @include m.tablet {
        max-width: 884px;
        margin: 0 auto 120px;
        border-top: 3px solid #e4e4e4;
        border-bottom: none;
        padding: 65px 0 0;
        font-family: f.$second-font;
        font-size: 44px;
        font-weight: 600;
      }
    }

    .action {
      max-width: 1140px;
      margin-inline: auto;
      padding-inline: 38px;
      margin-bottom: 65px;

      @include m.tablet {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 150px;
        }

        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }

      &__content {
        text-align: center;

        @include m.tablet {
          flex-basis: 50%;
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      &__title {
        color: #fa4a0c;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px; /* 150% */
        letter-spacing: 0.1px;
        margin-bottom: 40px;

        @include m.tablet {
          margin-bottom: 17px;
        }
      }

      &__info {
        color: #252b42;
        font-size: 40px;
        font-weight: 700;
        line-height: 57px; /* 142.5% */
        letter-spacing: 0.2px;
        margin-bottom: 50px;

        @include m.tablet {
          margin-bottom: 27px;
        }
      }

      &__hint {
        max-width: 257px;
        margin-inline: auto;
        color: #737373;
        font-size: 24px;
        font-weight: 500;
        line-height: 38px; /* 158.333% */
        letter-spacing: 0.2px;
        margin-bottom: 40px;

        @include m.tablet {
          max-width: none;
          margin-bottom: 0;
        }
      }

      &__img {
        display: block;
        margin: auto;
        box-shadow: 50px 30px 150px 0 rgba(46, 4, 4, 0.15);

        @include m.tablet {
          margin-inline: 40px;
        }
      }
    }
  }

  .download {
    text-align: center;
    padding: 120px 40px 112px;
    background-color: #252b42;

    @include m.tablet {
      padding: 140px 40px 130px;
      background-color: transparent;
      background-image: url(../assets/images/download-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__title {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      line-height: 57px; /* 142.5% */
      letter-spacing: 0.2px;
      margin-bottom: 20px;
    }

    &__text {
      color: #bdbdbd;
      font-size: 24px;
      font-weight: 500;
      line-height: 38px; /* 158.333% */
      letter-spacing: 0.2px;
      margin-bottom: 60px;

      .full-text {
        display: none;
      }

      @include m.tablet {
        color: #fff;

        .full-text {
          display: inline;
        }
  
        .short-text {
          display: none;
        }
      }
    }

    &__buttons {
      max-width: 340px;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }

    &__btn {
      padding: 16px 0;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 28px; /* 175% */
      letter-spacing: 0.2px;
      border-radius: 10px;

      &--buy {
        flex-basis: 40%;
        background-color: #fa4a0c;
        border: 1px solid transparent;
        transition: background-color 0.3s;

        &:hover {
          background-color: #000530;
        }
      }

      &--try {
        flex-basis: 54%;
        background-color: transparent;
        border: 1px solid #fff;

        &:hover {
          background-color: #000530;
          border: 1px solid transparent
        }
      }
    }
  }
}