@use "../abstracts/" as v;

body {
  font-family: v.$main-font;
}

body:has(.mobile-nav--active) {
  .header {
    .nav {
      display: none;
    }

    .burger-button {
      display: block;
    }
  }
}

.hide {
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

.link-active {
  color: v.$main-ui-color;
  pointer-events: none;
  background-color: transparent;
}