@use "../abstracts/fonts" as f;
@use "../abstracts/mixins" as m;

body {
  font-family: f.$main-font;
}

.hide {
  overflow: hidden;
}

.link-active {
  color: #fa4a0c;
  pointer-events: none;
  background-color: transparent;
}